.nav-bread > li + li::before {
  content: ">";
  color: #e8e8ec;
}
.profile-img {
  display: inline;

  max-width: 30px;
}
.nav-link {
  &--medium {
    font-size: 0.8rem;
  }
}
.icon--light {
  color: #afafb3 !important;
}
.color--black {
  color: #222222;
}
.breadcrumb {
  &-item {
    a {
      color: #86868b !important;
    }
    .active {
      color: #222222;
      font-weight: 700;
    }
  }
}
.dropdown-toggle::after {
  color: #afafb3;
  vertical-align: 0;
  border-left: 0.2rem solid transparent;
  border-right: 0.2rem solid transparent;
}

@media (max-width: 991.98px) {
  .navbar {
    width: 100%;
    li:last-child {
      width: 100%;
      border-bottom: 2px solid #ccc;
    }
  }
  .navbar-2 {
    li {
      text-align: center;
      width: 100%;
      border-bottom: 2px solid #ccc;
    }
  }
}
