<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <a class="navbar-brand" href="#"
            ><img src="./../../assets/logo.png" alt=""
          /></a>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ol class="nav-bread navbar-nav mr-auto mt-2 mt-lg-0 ">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                My Account
              </li>
            </ol>

            <div class="form-inline my-2 my-lg-0">
              <ul class="nav nav-pills">
                <li class="nav-item">
                  <a href="#" class="nav-link">UPGRADE</a>
                </li>
                <li class="nav-item">
                  <i class="fas fa-bell nav-link"></i>
                </li>
                <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    data-toggle="dropdown"
                    href="#"
                    role="button"
                    aria-haspopup="true"
                    aria-expanded="false"
                    ><i class="fas fa-bell"></i>Joshwan</a
                  >
                  <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
