<div class="bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-12 py-3">
        <div class="row">
          <div class="col-md-8">
            <span class="footer--contact mr-3">Help</span>
            <span class="footer-contact ">Contact Us</span>
          </div>
          <div class="col-md-4">
            <span class="float-right">
              <i class="fas fa-globe-europe mr-3"></i>United Kingdom</span
            >
          </div>
        </div>
        <div class="dropdown-divider mt-4"></div>
      </div>

      <div class="col-md-12 mb-3">
        <div class="row">
          <div class="col-md-8">
            <span class="color-grey">&copy; Gaetano Cirinnà</span>
          </div>
          <div class="col-md-4">
            <div class="breadcrumb-footer">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item active" aria-current="page">
                    <a hred="#">Terms of service</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <a hred="#">Privacy policy</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    <a hred="#">Security</a>
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
