<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-breadcrumb-nav></app-breadcrumb-nav>
    </div>
    <div class="col-md-12 report-btn">
      <button
        type="button"
        class="btn btn-primary btn-lg rounded-pill float-right"
      >
        REPORT CHANGES
      </button>
    </div>
  </div>

  <div class="row mt-5">
    <!-- FIRST FORM -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4">
            <i class="fas fa-user-circle mr-3"></i>Account
          </h5>
          <div class="card-body__profile-head">
            <div class="container">
              <div class="row">
                <div class="col-md-3 ">
                  <img
                    src="./../../assets/profile.jpeg"
                    alt=""
                    class="rounded-circle"
                  />
                </div>
                <div class="col-md-9">
                  <h6 class="card-subtitle mb-2 text-muted">YOUR AVATAR</h6>
                  <div class="row mt-3">
                    <div class="col-md-12 col-lg-4">
                      <button
                        type="button"
                        class="btn btn-outline-primary rounded-pill"
                      >
                        UPDATE
                      </button>
                    </div>
                    <div class="col-md-12 col-lg-8">
                      <p class="m-0 text-grey">
                        <i class="fab fa-twitter mr-2"></i>Import from Twitter
                      </p>
                      <p class="m-0 text-grey">
                        <i class="fab fa-facebook-f mr-2"></i>Import from
                        Facebook
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="dropdown-divider mt-4"></div>

          <div class="card-body card-body--form">
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputFirstName">First Name</label>
                  <input
                    type="text"
                    class="form-control bg-grey"
                    id="inputFirstName"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputLastName">Last Name</label>
                  <input
                    type="text"
                    class="form-control bg-grey"
                    id="inputLastName"
                  />
                </div>
              </div>
              <div class="form-group">
                <label for="inputEmail">Email</label>
                <input
                  type="email"
                  class="form-control bg-grey"
                  id="inputEmail"
                  required
                  placeholder="email@email.com"
                />
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputPhoneNumber">Phone number</label>
                  <input
                    type="text"
                    class="form-control bg-grey"
                    id="inputPhoneNumber"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputDate">Date</label>
                  <input
                    class="form-control bg-grey"
                    type="date"
                    placeholder="2011-08-19"
                    id="example-date-input"
                  />
                </div>
              </div>

              <button
                type="submit"
                class="btn btn--gradient-primary rounded-pill btn-lg card-body--btn py-3 px-4 float-right m-3"
              >
                <span>SAVE CHANGES</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- SECOND FORM -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title mb-4  ">
            <i class="fas fa-user-circle mr-3 float-left d-block"></i>
            <div class="text w-70 d-inline">
              <p class=" d-inline w-80">Account</p>
              <h6 class="card-subtitle mb-2 text-muted d-block w-80 ">
                You have 2 address
              </h6>
            </div>

            <div class="icon-plus rounded-pill float-right">
              <i class="fas fa-plus"></i>
            </div>
          </h5>

          <div class="address">
            <div class="container">
              <div class="row">
                <div class="col-md-9">
                  <label class="container-radio d-inline"
                    >Home
                    <input type="radio" name="radio" />
                    <span class="checkmark"></span>
                  </label>
                  <label class="container-radio d-inline"
                    >Business
                    <input type="radio" name="radio" />
                    <span class="checkmark"></span>
                  </label>
                </div>
                <div class="col-md-3">
                  <span class="icon-trash float-right"
                    ><i class="fas fa-trash-alt mr-2"></i> DELETE</span
                  >
                </div>
              </div>
            </div>
          </div>

          <!-- Form -->
          <div class="card-body card-body--form">
            <form>
              <div class="form-group">
                <label for="inputAddress">Address</label>
                <input
                  type="text"
                  class="form-control  bg-grey"
                  id="inputAddress"
                  placeholder="1234 Main St"
                />
              </div>
              <div class="form-group">
                <label for="inputAddress">Address</label>
                <input
                  type="text"
                  class="form-control  bg-grey"
                  id="inputAddress"
                  placeholder="1234 Main St"
                />
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputCity">City</label>
                  <input
                    type="text"
                    class="form-control bg-grey"
                    id="inputCity"
                  />
                </div>
                <div class="form-group col-md-6">
                  <label for="inputCity">Country</label>
                  <input
                    type="text"
                    class="form-control bg-grey"
                    id="inputCountry"
                  />
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-4">
                  <label for="inputZip">Zip</label>
                  <input
                    type="text"
                    class="form-control bg-grey"
                    id="inputZip"
                  />
                </div>
                <div class="form-group col-md-8">
                  <label for="inputState">Country / Region</label>
                  <select id="inputState" class="form-control bg-grey">
                    <option selected>Choose...</option>
                    <option>...</option>
                  </select>
                </div>
              </div>

              <div class="dropdown-divider mt-4"></div>

              <button
                type="submit"
                class="btn btn--gradient-primary rounded-pill btn-lg card-body--btn py-3 px-4 float-right m-3"
              >
                <span>SAVE CHANGES</span>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
